@import url(https://fonts.googleapis.com/css?family=Open+Sans,400,700,400italic);

.emphcol{color: #CC5900;}
.emphcolb{color: #0063A7;}
a, a > code {
  color: #0063A7;
  text-decoration: none;
}

.large {
  font-size: 200%;
}

.mjx-chtml{ font-size: 120% !important; }

ol {
  list-style: none;
}

ul {
  list-style: none;
}
li::before {content: "\25AA"; 
  color: #CC5900; 
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}


.remark-slide-content {
  font-family: 'Verdana', sans-serif;
  font-size: 200%;
  border-top: 80px solid #0063A7;
  background-color: #FFFFFF;
  color: #000000;
}

.remark-slide-content h1, h2, h3{
  font-family: 'Verdana', sans-serif;
  color: #FFFFFF;
}

.inverse {
  background-color: #0063A7;
  color: #FFFFFF;
  border-top: none;
}

.inverse h1, h2, h3{
  color: #FFFFFF;
}


.title-slide {
  font-family: 'Verdana', sans-serif;
  color: #FFFFFF;
  border-top: none;
  background-image: url(MonashTitleSlide.svg);
  background-size: cover;
}

.title-slide > h1 {
  color: #FFFFFF;
  font-size: 50px;
}

.title-slide > h2 {
  color: #FFFFFF;
}

.title-slide > h3 {
  color: #FFFFFF;
}

.title-slide .remark-slide-number {
  font-family: 'Verdana', sans-serif;
  display: none;
}

.remark-inline-code{
  background: #FFFFFF;
  border-radius: 3px;
  padding: 4px;
}

.remark-code{
  font-size: 120%;
  background-color: #FFFF88;
}
